.slider{
    position: relative;
    margin-top: 20px;
}

.slider-viewport{
    overflow: hidden;
    width: 100%;
}

.slider-track{
    display:flex;
    transition: transform 0.45s cubic-bezier(.25,.8,.25,1);
}

.slide{
    min-width:100%;
    display:flex;
    gap:20px;
}


.arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow.left{
  left: -60px;
}

.arrow.right{
  right: -60px;
}

.arrow.right,
.arrow.left{
  border: solid 1px var(--border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.arrow.right:hover,
.arrow.left:hover{
    background-color: var(--bg-light-muted);
}